CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

app_config.h
__REPLACE__
__REPLACE__-test
lib__REPLACE__-lib.a
gtest/
